* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", 'Arial', sans-serif;

}

h1,
h2,
h3 {
  font-weight: 700;
}

.app-layout {}

.content {
  margin-left: 220px;

  margin-top: 61px;
  flex: 1;

  min-height: 100vh;
}

.gruopIcon {
  position: fixed;
  bottom: 4px;
  right: 0;
  cursor: pointer;
}